.our-tariffs {
    padding: 100px 0;
    background-color: #F0F0F0;
}

@media screen and (max-width: 1024px) {
    .our-tariffs {
        padding: 80px 0;
        ;
    }
}

@media screen and (max-width: 768px) {
    .our-tariffs {
        padding: 70px 0;
        ;
    }
}

@media screen and (max-width: 600px) {
    .our-tariffs {
        padding: 60px 0;
        ;
    }
}

@media screen and (max-width: 500px) {
    .our-tariffs {
        padding: 50px 0;
        ;
    }
}